<!doctype html>
<html lang="en">
<html prefix="og: http://ogp.me/ns#">
<head>
  <title>{% block page_title %}Rick Weaver{% endblock %}</title>
  <meta name="description" content="{% block page_description %}Music, video, text{% endblock %}">
  <meta name="keywords" content="Rick Weaver, Dinner Music, Ranch Radio, H&S Ranch, San Antonio, Form A Log, New Flesh, Early Juniata, Human Host, Organ Donors, Human Conduct, Inner Fare">
  <meta property="og:title" content="Rick Weaver" />
  <meta property="og:description" content="Music, video, text" />
  <meta property="og:site_name" content="Rick Weaver" />
  <meta property="og:url" content="rickjweaver.com" />
  <meta property="og:image" content="assets/img/BlueIcon.jpg" />
  <meta name="twitter:title" content="Rick Weaver" />
  <meta name="twitter:description" content="Music, video, text" />
  <meta name="twitter:image" content="rickjweaver.com" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:alt" content="welcome to the house" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="assets/img/BlueIcon.png" type="image/png" sizes="16x16" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Khula|Tangerine|Cinzel" rel="stylesheet">
</head>
<body class="bg">
  {% include "_partials/nav.njk" %}
  {# {% include '_partials/jumbotron.njk' %} #}

  {% block content %}{% endblock %}

  {% include "_partials/footer.njk" %}

  <script src="js/jquery.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/nav.js"></script>

</body>
</html>
