{% extends '_layouts/base.njk' %}

  {% block content %}

  <div class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
    <img src="assets/img/members/{{ members.image }}" alt="members" class="img-fluid border">
    <h1 class="mt-2 mb-0" id="tangerine">
    {{ members.name }}</h3>
    <p class="mt-0 mb-0"><strong>{{ members.instruments }}</strong>
    <cite>{{ members.tenure }}</cite></p>
    <p class="mb-4"><strong>Born in {{ members.birthplace }}</strong>
    (<cite>{{ members.birthdate }}</cite>)</p>
   </div>

    <div class="col-sm-8 right-rail">
    <div class="card border bg-dark text-secondary mb-4">
    <div class="card-body">
     <p class="text-justify pl-3 pr-3">{{ members.text | safe }}</p>
    </div>
    </div>
  </div>
</div>

  {% endblock %}


