<!doctype html>
<html lang="en">
<head>
  <title>{% block page_title %}FANTASY ALBUM HOUSE{% endblock %}</title>
    <!-- Open Graph Meta Tags -->
  <meta property="og:url" content="rickjweaver.com/fantasy.html">
  <meta property="og:image" content="assets/img/fantasy album house.png">
  <meta name="description" content="{% block page_description %}We invite a musician into the house to make their fantasy album{% endblock %}">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="assets/img/fantasy album house.png" type="image/png" sizes="16x16" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Khula|Tangerine|Cinzel" rel="stylesheet">
</head>
<body class="bg" id="fantasy">

  {% include "_partials/fantasy.njk" %}

  {% block content %}{% endblock %}



  <script src="js/jquery.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/scripts.js"></script>
  <script src="js/nav.js"></script>

</body>
</html>
