{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">

  <p>2009</p>
  <div class="row">

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="assets/img/aircircus.jpg" alt="Form A Log - Air Circus released on I Just Live Here.  Ren Schofield, Noah Anthony, Rick Weaver play tapes. Features Dollies, Air Circus, The Drapes, One Chance to Cut Your Pillow, and Courtesy Clowns. Bandcamp embed. 2010">
        <div class="overlay embed-responsive">
        <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=2573850675/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/artwork=none/" seamless><a href="http://formalog.bandcamp.com/album/air-circus">Air Circus by Form a Log</a></iframe>
        </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="assets/img/sistercity.jpg" alt="Rick Weaver plays Sister City. Thanks Jonny Wray. June 2009">
        <div class="overlay embed-responsive">
        <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=3131510718/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/sister-city">Sister City by Rick Weaver</a></iframe>
        </div>
        </div>
      </div>
    </div>

{# end row #}
  </div>

{# end container #}
</div>

{% endblock %}