{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">

  <p>2010</p>
  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
      <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/magictouch.jpg" alt="Form A Log - Magic Touch. Recorded May 2010 at Magic Touch, Philadelphia by Jonny Wray. Ren Schofield, Noah Anthony, Rick Weaver on tapes and bindi belly. Features Wig Whiff, Legal Eagle, Panic Situation, The Last Sip is Insane, Electric Face Dance, Super Dooley, Blind Factory and Pork Support.">
        <div class="overlay embed-responsive">
        <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=255528814/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/artwork=none/" seamless><a href="http://formalog.bandcamp.com/album/magic-touch">Magic Touch by Form a Log</a></iframe>
        </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
      <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/aircircus.jpg" alt="Form A Log - Air Circus released on I Just Live Here.  Ren Schofield, Noah Anthony, Rick Weaver play tapes. Features Dollies, Air Circus, The Drapes, One Chance to Cut Your Pillow, and Courtesy Clowns. Bandcamp embed. 2010">
        <div class="overlay embed-responsive">
        <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=2573850675/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/artwork=none/" seamless><a href="http://formalog.bandcamp.com/album/air-circus">Air Circus by Form a Log</a></iframe>
        </div>
        </div>
      </div>
    </div>

 {# end row #}
  </div>

 {# end container #}
 </div>

{% endblock %}