{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">

  <p>2012</p>
  <div class="row">

      <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
        <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="assets/img/BQPsych.jpg" alt="November 2012 Blood Quantum short video directed by and starring Rick Weaver as the White Ghost, Tiffany Minx as Lila Maria, Rick Wilson as Shadow Brother, Zak Marmalefsky as Fuzz OST by Dinner Music / Rick Weaver released on Spleencoffin Records">
          <div class="overlay embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Vl1GEyy21Bk" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        </div>
      </div>


    <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
      <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/loverscove.jpg" alt="Global Distance present their Realm Play called Lover's Cove released on Realm Play Media Rick and Rick as Nectar and Sap aka the Cove Bros: A1	Nectar & Sap	A2	The Cove Bros. Moisten the Hut, Place it Inside of a Sack, Burn the Burlap, & Toss it in the Nook of Frenzy	A3	I'm Dancing (My Troubles Away)A4	I Don't Like My Feet A5	Ugly Mountain Spring or Cheap Harp In The Misty Green	B1	The Slosher Invites Himself to His Own Party, Shaking Coconut	B2	Travel Agent B3	Mosquito B4	Iron Environs B5	Bumper's Sermon	B6	Little Moments Matter (the Drought) B7	Moist Movements in the Ocean of Bliss B8	See Look: Leaving the Body, Keeping the Fins	B9	The Secret of the Lover's Cove. August 08 2012">
        <div class="overlay embed-responsive">
        <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=3616102493/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/lovers-cove">Lover&#39;s Cove by Global Distance</a></iframe>
        </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
      <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/kissingcousins.jpg" alt="Rick Weaver plays Kissing Cousins. Originally released on Golden Cloud Tapes. May 2012">
        <div class="overlay embed-responsive">
        <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=3334092409/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/kissing-cousins">Kissing Cousins by Rick Weaver</a></iframe>
        </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
      <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/innerfare.jpg" alt="Inner Fare (Jeff Zagers, Rick Weaver) compilation titled Dirty Doubler released on Human Conduct -- The first side is an excerpt of our seemingly endless drums on tape composition entitled 'Dirty Doubler.' Also bearing the name of Dirty Doubler is a sound installation, a Family Visions movie, an object (or two), and a festival in St. Louis. The second side is an introduction to the Inner Fare code of conduct. Musical moments captured between our initial 'meeting of the minds' in Mt. Airy, Maryland, May 2009 up until a Florida excursion laced with pure luck in February 2011. original press c92 was limited to 30 copies - cameos by Alex Hampshire Ben Kelley Noah Anthony Kylie Lance. January 2012">
        <div class="overlay embed-responsive">
        <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=2987001266/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/dirty-doubler">Dirty Doubler by Inner Fare</a></iframe>
        </div>
        </div>
      </div>
    </div>

{# end row #}
  </div>

{# end container #}
</div>


{% endblock %}