{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">

  <p>2013</p>
  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
      <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/twobenjis.jpg" alt="Form A Log - The Two Benji's vinyl album released on Dehocoherence Records. Noah Anthony, Ren Schofield, and Rick Weaver on tapes. Full Tracklisting: 
        1. Chain Valet 2. Tape It To The Dog 3. Country 4. Jewel Case 5. Sushi Night Club 6. Gentle Leader 7. Landline 8. Hypermodern 9. Cool White 10. Diamond Pressure 11. The Two Benji'sBandcamp embed. November 05 2013">
        <div class="overlay embed-responsive">
        <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=3453535546/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/artwork=none/transparent=true/" seamless><a href="http://decoherence.bandcamp.com/album/the-two-benjis">The Two Benji&#39;s by Form A Log</a></iframe>
        </div>
        </div>
      </div>
    </div>



    <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
      <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/laptop.jpg" alt="Form A Log perform Lap Top. Recorded March 12(?) 2012 at momo zone Noah Anthony, Ren Schofield, and Rick Weaver on tapes. Kevin Esposito on the cover. Bandcamp embed. September 17 2013">
        <div class="overlay embed-responsive">
        <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=96100535/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=true/artwork=none/" seamless><a href="http://formalog.bandcamp.com/album/lap-top">Lap Top by Form a Log</a></iframe>
        </div>
        </div>
      </div>
    </div>



{# end row #}
  </div>

{# end container #}
</div>

{% endblock %}