{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">

  <p>2014</p>
  <div class="row">

      <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
        <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="assets/img/blackmedicine.jpg" alt="July 23 2014 Black Medicine part one by Rick Weaver from Black Medicine OST soundtrack cassette released on More Records">
          <div class="overlay embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/96785740" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
        <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="assets/img/fortherecord.jpg" alt="Form A Log perform For The Record a court drama released on vinyl on Bathetic Records. June 10 2014">
          <div class="overlay embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLeoYRzSTcbQGRfCMhL0WUlOCqyGzi69wN" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        </div>
      </div>

{# end row #}
  </div>

{# end container #}
</div>

{% endblock %}