{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">

  <p>2015</p>
  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
      <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/img/bluesky.jpg" alt="Rick Weaver Dinner Music - Blue Sky released by Haord Records - Recorded at the H&S Ranch. Mastered by Seth Manchester. November 17 2015">
        <div class="overlay embed-responsive">
        <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=1881972644/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/transparent=true/" seamless><a href="http://haord.bandcamp.com/album/blue-sky">Blue Sky by Rick Weaver</a></iframe>
        </div>
        </div>
      </div>
    </div>

{# end row #}
  </div>

{# end container #}
</div>


{% endblock %}