{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">

  <p>
  <p>2019</p>
  <div class="row">

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <a href="https://www.tinymixtapes.com/chocolate-grinder/listen-micleusanu-m-trassar" target="_blank">
        <img class="card-img-top" src="assets/img/tmt.png" alt="Tiny Mix Tapes music review of Micleusanu M February 7, 2019">
        <div class="overlay">
        <div class="text">MUSIC REVIEW: MICLEUSANU M</div>
        </div>
        </div>
      </div>
    </div>
    </a>

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <a href="https://www.tinymixtapes.com/chocolate-grinder/listen-lincolnshire-poacher-frequency-disruptor-volume-i" target="_blank">
        <img class="card-img-top" src="assets/img/tmt.png" alt="Tiny Mix Tapes music review of The Lincolnshire Poacher February 5, 2019">
        <div class="overlay">
        <div class="text">MUSIC REVIEW: THE LINCOLNSHIRE POACHER</div>
        </div>
        </div>
      </div>
    </div>
    </a>

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <a href="https://www.tinymixtapes.com/chocolate-grinder/listen-qb-q" target="_blank">
        <img class="card-img-top" src="assets/img/tmt.png" alt="Tiny Mix Tapes music review of qb January 31, 2019">
        <div class="overlay">
        <div class="text">MUSIC REVIEW: qb</div>
        </div>
        </div>
      </div>
    </div>
    </a>

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <a href="https://www.tinymixtapes.com/chocolate-grinder/listen-hiroshima-bird-market-gegen-uns-selbst" target="_blank">
        <img class="card-img-top" src="assets/img/tmt.png" alt="Tiny Mix Tapes music review of Hiroshima Bird Market January 29, 2019">
        <div class="overlay">
        <div class="text">MUSIC REVIEW: HIROSHIMA BIRD MARKET</div>
        </div>
        </div>
      </div>
    </div>
    </a>

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="https://www.austinchronicle.com/events/music/bill-frisell-w-tony-scherr-and-kenny-wollesen-2412384/" target="_blank">
        <img class="card-img-top" src="assets/img/austinchronicle.png" alt="Austin Chronicle recommends Bill Frisell with Tony Scherr and Kenny Wollesen at Continental Club Jan 18 and 19, 2019">
        <div class="overlay">
        <div class="text">MUSIC RECOMMEND: BILL FRISELL WITH TONY SCHERR AND KENNY WOLLESEN
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="assets/img/RickPicks.jpg" alt="Rick picks some tunes for the eighth time on Spotify">
        <div class="overlay embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://open.spotify.com/embed/user/rickjweaver/playlist/44o4sdNdTWMmrYUx53pzw0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <a href="https://www.tinymixtapes.com/features/favorite-25-films-2018" target="_blank">
        <img class="card-img-top" src="assets/img/tmt.png" alt="Tiny Mix Tapes lists their 25 favorite movies of 2018 including Won't You Be My Neighbor? documentary on Mister Fred McFeely Rogers directed by Morgan Neville">
        <div class="overlay">
        <div class="text">FAVORITE 25 FILMS OF 2018: <cite>WON'T YOU BE MY NEIGHBOR?</cite></div>
        </div>
        </div>
      </div>
    </div>
    </a>


    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <a href="https://www.tinymixtapes.com/chocolate-grinder/watch-model-home-model-home-5" target="_blank">
        <img class="card-img-top" src="assets/img/tmt.png" alt="Tiny Mix Tapes music review of Model Home (Nappy Nappa and Patrick Cain)">
        <div class="overlay">
        <div class="text">MUSIC REVIEW: MODEL HOME <cite>MODEL HOME 5</cite></div>
        </div>
        </div>
      </div>
    </div>
    </a>

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="https://www.austinchronicle.com/music/2019-01-04/10-free-week-acts-to-watch-this-weekend/" target="_blank">
        <img class="card-img-top" src="assets/img/austinchronicle.png" alt="Sherry is one of 10 Free Week acts to watch for in Austin, Texas 2019">
        <div class="overlay">
        <div class="text">FREE WEEK 2019: SHERRY
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>

 {# end row #}
  </div>

  {# end container #}
 </div>

{% endblock %}