
{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">

  <p>Form a Log</p>
  <br><i>Bird Time</i>
  <div class="row">

    <div class="col-lg-3 col-sm-4 mb-4"> 
    <iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=2596695701/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/" seamless><a href="http://alteredtapedstates.bandcamp.com/album/bird-time">Bird Time by Form A Log</a></iframe>