{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}


<div class="container">

  <p>
  <div class="row">


      <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
        <div class="card-deck">
          <div class="card">
          <a href="">
          <img class="card-img-top" src="assets/img/SpliceToday.jpg" alt="noise rock Cherubs reissue Short of Popular review splice today">
          <div class="overlay">
          <div class="text">CHERUBS</div>
          </a>
          </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
        <div class="card-deck">
        <div class="card">
          <a href="{{ member.url }}">
          <img class="card-img-top" src="assets/img/austinchronicle.png" alt="">
          </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
        <div class="card-deck">
        <div class="card">
          <a href="{{ member.url }}">
          <img class="card-img-top" src="assets/img/sacurrent.jpg" alt="">
          </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
        <div class="card-deck">
        <div class="card">
          <a href="{{ member.url }}">
          <img class="card-img-top" src="assets/img/posttrash.png" alt="">
          </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
        <div class="card-deck">
        <div class="card">
          <a href="{{ member.url }}">
          <img class="card-img-top" src="assets/img/tmt.png" alt="">
          </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
        <div class="card-deck">
        <div class="card">
          <a href="{{ member.url }}">
          <img class="card-img-top" src="assets/img/RickPicks.jpg" alt="">
          </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
        <div class="card-deck">
        <div class="card">
          <a href="{{ member.url }}">
          <img class="card-img-top" src="assets/img/ranchradio2.png" alt="">
          </a>
        </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-5 mb-4"> 
        <div class="card-deck">
        <div class="card">
          <a href="{{ member.url }}">
          <img class="card-img-top" src="assets/img/ricktalksquare.png" alt="">
          </a>
          </div>
        </div>
      </div>

 {# end row #}
  </div>

 {# end container #}
 </div>

{% endblock %}


