{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2019.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2019">
        <div class="overlay">
        <div class="text">2019
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2018.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2018">
        <div class="overlay">
        <div class="text">2018
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2017.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2017">
        <div class="overlay">
        <div class="text">2017
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2016.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2016">
        <div class="overlay">
        <div class="text">2016
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2015.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2015">
        <div class="overlay">
        <div class="text">2015
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2014.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2014">
        <div class="overlay">
        <div class="text">2014
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2013.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2013">
        <div class="overlay">
        <div class="text">2013
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2012.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2012">
        <div class="overlay">
        <div class="text">2012
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2011.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2011">
        <div class="overlay">
        <div class="text">2011
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2010.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2010">
        <div class="overlay">
        <div class="text">2010
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2009.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2009">
        <div class="overlay">
        <div class="text">2009
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2008.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2008">
        <div class="overlay">
        <div class="text">2008
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2007.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2007">
        <div class="overlay">
        <div class="text">2007
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>  
    <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="2006.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Rick Weaver 2006">
        <div class="overlay">
        <div class="text">2006
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>  
   <div class="col-lg-3 col-md-4 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <a href="1996.html">
        <img class="card-img-top" src="assets/img/BlueIcon.png" alt="Early Juniata 1996">
        <div class="overlay">
        <div class="text">1996
        </div>
        </div>
        </div>
      </div>
    </div>
    </a>

{# end row #}
  </div>

{# end container #}
</div>

{% endblock %}


