{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="text">
        <a href="music.html">ALBUMS</a>
      </div>
    </div>
    <div class="col">
      <div class="text">
        <a href="other.html"><strong>OTHER</strong></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="assets/img/hausmo.jpg" alt="Hausu Mountain mixtape HausMo Mixtape I featuring D/A/D, FIN, Quicksails, World War, TALsounds, Lockbox, Rick Weaver, Black Hat, BANG! BROS, Do Pas O, Fire-Toolz, Khaki Blazer, Potions, Kill Alters, Form A Log, Eartheater, MrDougDoug, Moth Cock, Brett Naucke, Tiger Village, Andrew Bernstein and Mukqs. Bandcamp embed. April 20 2018">
        <div class="overlay embed-responsive">
        <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=1093372498/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/tracklist=true/transparent=true/" seamless><a href="http://hausumountain.bandcamp.com/album/hausmo-mixtape-i">HausMo Mixtape I by Many HausMo Artists</a></iframe>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 mb-4"> 
        <div class="card-deck">
          <div class="card" style="width: 14rem;">
              <a href="logcock.html">
              <img class="card-img-top" src="assets/img/formalogmothcock.jpg" alt="Form A Log / Moth Cock split LP vinyl album released on Hausu Mountain. Form A Log is: Noah Anthony, Ren Schofield, & Rick Weaver. Moth Cock is: Doug Gent & Pat Modugno Artwork by Sam Nigrosh – www.suneaterstudio.com Mastered by Patrick Klem -- klemsound.com. March 11 2016">
            <div class="overlay">
              <div class="text">
                Mothcock / Form A Log split LP
              </div>
            </div>
          </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 mb-4"> 
        <div class="card-deck">
          <div class="card" style="width: 14rem;">
            <a href="living.html">
            <img class="card-img-top" src="assets/img/santa.jpg" alt="Spiritual Recess Rick Weaver December 2014">
              <div class="overlay">
                <div class="text">Spiritual Recess / Rick Weaver split
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 mb-4"> 
        <div class="card-deck">
          <div class="card" style="width: 14rem;">
            <a href="https://zackkouns.bandcamp.com/album/springsteen-for-weirdos" target="_blank">
              <img class="card-img-top" src="assets/img/covermebruce.jpg" alt="rick weaver bruce springsteen cover album">
                <div class="overlay">
                  <div class="text">Cover Me: Springsteen for Weirdos <cite>v/a</cite>
                  </div>
                </div>
            </a>
          </div>
        </div>
      </div>
    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="assets/img/anotherdarkage.jpg" alt="Form A Log perform In The Streets on Another Dark Age compilation also featuring Phantom Selector, Victim, and Carrier. April 14, 2017">
        <div class="overlay embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/132073081&color=%23b26a2f&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <a href="http://www.close-far.com" target="_blank">
        <img class="card-img-top" src="assets/img/cf019.jpg" alt="Rhizomatic St. Louis Vol. I featuring Regicide Bureau, Rich O'Donnel, Raglani, Tory Starbuc Project, N.N.N. Cook, Dr. Mabuse, Dave Stone, Public Shallows, Brain Transplant, Kevin Harris, and Dinner Music (Rick Weaver). Released on Close/Far Recordings. 2012">
        <div class="overlay">
        <div class="text">RHIZOMATIC ST. LOUIS VOL. I <cite>v/a</cite></div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-sm-4 mb-4"> 
        <div class="card-deck">
            <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="assets/img/cube rick weaver split.jpg" alt="Cubicle / Dinner Music split cassette (aka Cube and Rick Weaver) on Human Conduct Records. notes on original hard copy dub: 32 minutes chrome bias 
            real time dub cardstock J card with two inserts limited to 30 copies. December 2011">
            <div class="overlay embed-responsive">
            <iframe class="embed-responsive-item" src="https://bandcamp.com/EmbeddedPlayer/album=2641272616/size=large/bgcol=ffffff/linkcol=0687f5/artwork=none/track=2318697519/transparent=true/" seamless><a href="http://humanconduct.bandcamp.com/album/cube-rick-weaver">Cube / Rick Weaver</a></iframe>
            </div>
          </div>
        </div>
      </div>
    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="assets/img/9.jpg" alt="Form A Log live at Pageant: Soloveev. Digitally released by Blowing up the Workshop. March 21, 2012">
        <div class="overlay embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/97482317&color=%23b26a2f&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <a href="https://www.discogs.com/Various-Christmas-Tape-2011/release/3398681" target="_blank">
        <img class="card-img-top" src="assets/img/christmastape2011.jpg" alt="Alley Vision (Ren Schofield, Rick Weaver) play Top Hat on Christmas Tape 2011 compilation released by Tusco Embassy">
        <div class="overlay">
        <div class="text">ALLEY VISION "TOP HAT"</div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <a href="https://spleencoffin.com/portfolio/230/" target="_blank">
        <img class="card-img-top" src="assets/img/digitalduck.jpg" alt="Form a Log perform Digital Duck released by Spleencoffin 2010">
        <div class="overlay">
        <div class="text">FORM A LOG <cite>DIGITAL DUCK</cite></div>
        </div>
        </div>
      </div>
    </div>
    </a>
    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
          <a href="https://www.discogs.com/MLU-The-New-Flesh-Chosen-Gem-Safe-Skin/master/799804" target="_blank">
          <img class="card-img-top" src="assets/img/mlu the new flesh.jpg" alt="the new flesh mlu split LP">
            <div class="overlay">
              <div class="text">
                MLU / The New Flesh split LP
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
          <a href="https://www.discogs.com/The-New-Flesh-Pukeattack-Love-Cums-First/master/1569088">
            <img class="card-img-top" src="assets/img/pukeattack.jpg" alt="puke attack pukeattack the new flesh love cums 1st split LP">
              <div class="overlay">
                <div class="text">
                  The New Flesh / Pukeattack "Love Cums 1st" Split LP
                </div>
              </div>
            </a>
        </div>
      </div>
    </div>
    
  {# end row #}
  </div>
  
{# end container #}
</div>
  
{% endblock %}