{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <iframe style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=1257596598/size=large/bgcol=333333/linkcol=fe7eaf/transparent=true/" seamless><a href="http://dinnermusic.bandcamp.com/album/the-perfect-man">The Perfect Man by Rick Weaver</a></iframe>
    </div>
    <div class="col">
      <p> </p>
    </div>
  </div>
{# end container #}
</div>
{% endblock %}