{% extends '_layouts/base.njk' %}

{% block page_title %}Rick Weaver{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md mb-4">
          <a href="transmog.html">
          <img src="assets/img/The Transmogrification of Mr. Claus.png" class="img-fluid" alt="Zack Kouns Rick Weaver Santa">
            <div class="overlay">
              <div class="text">
              The Transmogrification of Mr Claus 
              </div>
            </div>
          </a>
    </div>
    <div class="col-lg-4 col-md mb-4"> 
      <a href="earlyjuniata.html">
        <img src="assets/img/earlyjuniatasorcererscover.png" class="img-fluid" alt="Evan Lipson Jeff Zagers Alex Hampshire Rick Weaver">
          <div class="overlay">
            <div class="text">
              Early Juniata
            </div>
          </div>
        </a>
    </div>
  <div class="col-lg-4 col-md mb-4">
      <a href="transmog.html">
      <img src="assets/img/The Transmogrification of Mr. Claus.png" class="img-fluid" alt="Zack Kouns Rick Weaver Santa">
        <div class="overlay">
          <div class="text">
          The Transmogrification of Mr Claus 
          </div>
        </div>
      </a>
</div>
<div class="w-100"></div>
<div class="col-lg-4 col-md mb-4"> 
  <a href="earlyjuniata.html">
    <img src="assets/img/earlyjuniatasorcererscover.png" class="img-fluid" alt="Evan Lipson Jeff Zagers Alex Hampshire Rick Weaver">
      <div class="overlay">
        <div class="text">
          Early Juniata
        </div>
      </div>
    </a>
</div>
</div>
{# end container #}
</div>

{% endblock %}