{% extends '_layouts/video.njk' %}

{% block page_title %}FANTASY ALBUM HOUSE{% endblock %}


{% block content %}

<article class="container">
  <div class="row">

    <div class="col-lg-3 col-sm-4 mb-4"> 
      <div class="card-deck">
        <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="assets/img/ricktalksquare.png" alt="Rick Weaver covers Hall Oates No Can Do and in the video he acts like he is mastering the song live in real time November 21 2018">
        <div class="overlay embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m_AUBKCOsmA" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-4 mb-4"> 
        <div class="card-deck">
          <div class="card" style="width: 14rem;">
          <img class="card-img-top" src="assets/img/komask.png" alt="
          January 14 2016. KO's Mask music video by Rick Weaver and Nicki from Blue Sky OST soundtrack cassette released on Haord Records">
          <div class="overlay embed-responsive embed-responsive-21by9">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/146577684" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-4 mb-4"> 
          <div class="card-deck">
            <div class="card" style="width: 14rem;">
              <img class="card-img-top" src="assets/img/blackmedicine.jpg" alt="July 23 2014 Black Medicine part one by Rick Weaver from Black Medicine OST soundtrack cassette released on More Records">
              <div class="overlay embed-responsive embed-responsive-21by9">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/96785740" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            </div>
          </div>

      <div class="col-lg-3 col-sm-4 mb-4"> 
          <div class="card-deck">
            <div class="card" style="width: 14rem;">
              <img class="card-img-top" src="assets/img/theperfectman.jpg" alt="Rick Weaver music video for Mortal Wound song from The Perfect Man. November 6, 2014">
              <div class="overlay embed-responsive embed-responsive-21by9">
              <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/110733736" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            </div>
          </div>
      
      <div class="col-lg-3 col-sm-4 mb-4"> 
          <div class="card-deck">
            <div class="card" style="width: 14rem;">
              <img class="card-img-top" src="assets/img/whitesuns.png" alt="White Suns music video for Priest in the Laboratory from Totem released by The Flenser. Video credits: Mr. Ben: motion, Chad Eivins: lighting, Rick Weaver: edit">
              <div class="overlay embed-responsive embed-responsive-21by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-6Bbkh4cTbo" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            </div>
          </div>

      <div class="col-lg-3 col-sm-4 mb-4"> 
        <div class="card-deck">
          <div class="card" style="width: 14rem;">
            <img class="card-img-top" src="assets/img/dennispalmer.png" alt="April 5 2013 A Tribute to Dennis Palmer (Rebecca Furiosa remix) Megan Hollenbeck and Rick Weaver">
              <div class="overlay embed-responsive embed-responsive-21by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lJSLILI1PCc" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4 mb-4"> 
          <div class="card-deck">
            <div class="card" style="width: 14rem;">
              <img class="card-img-top" src="assets/img/BQPsych.jpg" alt="November 2012 Blood Quantum short video directed by and starring Rick Weaver as the White Ghost, Tiffany Minx as Lila Maria, Rick Wilson as Shadow Brother, Zak Marmalefsky as Fuzz OST by Dinner Music / Rick Weaver released on Spleencoffin Records">
              <div class="overlay embed-responsive embed-responsive-21by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Vl1GEyy21Bk" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            </div>
          </div>
    
        <div class="col-lg-3 col-sm-4 mb-4"> 
          <div class="card-deck">
            <div class="card" style="width: 14rem;">
              <img class="card-img-top" src="assets/img/toledotux.png" alt="Toledo Tuxedo
              by Chad Eivins (chizmo.tv) & Rick Weaver
              starring Mister Ben November 2012">
              <div class="overlay embed-responsive embed-responsive-21by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0ccvjvvrc8Q" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </div>
            </div>
          </div>


{# end row #}
  </div>

{# end container #}
</div>
</article>
{% endblock %}