
<nav class="navbar" id="fantasy">
  <a class="navbar-brand" href="fantasy.html"><img src="assets/img/fantasy album house.png" width="100px" id="fantasy album house"/></a>
  <a class="navbar-brand" href="index.html">
  <img src="assets/img/BlueIcon.jpg" width="85px" id="navlogo rick weaver dinner music form a log new flesh san antonio"/></a> 

  {# <button class="navbar-toggler navbar-dark" type="button" 
  data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" 
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="">Writing<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Radio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Video</a>
      </li>
    </ul> #}
    </div>
  </div>
</nav>

