<footer>
  <div class="container"> 
    <div class="row">
    <div class="col-sm-12 text-light" id="legal">
    <small>&copy; <span class="copyright-year"></span>
    Rick Weaver rickjweaver@gmail.com @rickjweaver1 etc.
    </div>
    
    </div>
  </div>
</footer>
