<footer>
  <div class="container"> 
    <div class="row">
    <div class="col-sm-12 text-center bg-dark text-light border" id="legal">
    <small>&copy; <span class="copyright-year"></span>
    A class project by Rick Weaver.
    </div>
    </div>
  </div>
</footer>
