<footer class="footer">
  <div class="container"> 
    <div class="row mb-0">

      <div class="col-12 text-light mb-0" id="legal">
        <small>&copy; <span class="copyright-year"></span>
        Rick Weaver
        <a href="mailto:rickjweaver@gmail.com"><img src="assets/img/email.png" width="40px"/></a> 
        <a href="https://twitter.com/rickjweaver1" target="_blank"><img src="assets/img/twitter.png" width="40px"/></a> etc.
      </div>
    </div>  
  </div>
</footer>
