
<nav class="navbar" id="scroll">
  <a class="navbar-brand" href="index.html">
  <img src="assets/img/BlueIcon.jpg" width="100px" id="navlogo rick weaver dinner music form a log new flesh san antonio"/></a> 
  <a class="navbar-brand" href="text.html">
  <img src="assets/img/Santa.jpg" width="100px" id="navlogo rick weaver music writing review journalism text poetry prose essay interview"/></a> 
  <a class="navbar-brand" href="video.html"><img src="assets/img/videoicon.png" width="100px" id="music video"/></a>
  <a class="navbar-brand" href="fantasy.html"><img src="assets/img/fantasy album house.png" width="100px" id="fantasy album house"/></a>
  <a class="navbar-brand" href="https://hideandseekranch.com" target="_blank">
  <img src="assets/img/ranchradio2.png" width="100px" id="nicki and rick ranch radio H&S H and S podcast san antonio texas"/></a> 
</nav>
