nav {
  background-color:rgba(0, 162, 255, 0.815);
}

.bg { 
  background-image: url("/assets/img/BlueWebsiteBackground.jpg");
  height: 50%; 
  background-position: center;
}

footer {
  background-color: rgba(0, 162, 255, 0.815);
}

h3 {
  padding-bottom: -200px;
}

.card {
  background-color: aliceblue;
  width: 98%;
  height: auto;
}

.intro, .media, .legal {
  border-color:#F5F5F5;
}

.media img {
  width: 50%;
}

#tangerine {
  font-family: 'Tangerine', cursive;
}
#cinzel {
  font-family: 'Cinzel', serif;
}